* {
    box-sizing: border-box;
}

body {
    background: white;
    color: black;
    margin: auto;
    font-family: 'Abhaya Libre', Arial, serif;
    padding: 40px;
}

.header {
    background-image: url(./Images/Cityscape1.jpeg);
    opacity: 0.8;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    font-family: 'Bungee Shade', sans-serif;
    font-size: 225%;
    width: 100%;
    max-width: 100%;
    z-index: 999;
    text-align: left;
    margin: 0;
    color: gold;
    opacity: 0.92;
    padding: 2%;
}

.intro {
    color: black;
    width: 100%;
    height: 10%;
    float: left;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-size: 90%;
    clear: left;
}


/* Below here is NAVBAR CSS */

.navbar {
    margin-top: 25px;
    text-align: center;
    width: 100%;
    display: inline-block;
    float: left;
}

.navbar ul {
    width: 15%;
    text-align: center;
}

.navbar li {
    width: 25%;
    text-align: center;
    display: inline-block;
}

.navbar li a {
    width: 75%;
    height: 100%;
    font-family: 'Abhaya Libre', Arial, serif;
    font-size: 200%;
    text-align: center;
    display: inline-block;
    list-style-type: none;
    color: white;
    background-color: tomato;
    border-radius: 2px 10px 2px;
    text-decoration: none;
}


/* End of Navbar CSS */


/* Image/Text Navigaton 'Div Box' */

#ImageText {
    width: 75%;
    height: 3%;
    margin: 0 auto;
    text-align: center;
    background: none;
    float: none;
}

.NavBox {
    display: inline-block;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 20%;
    margin: 50px;
}

.Text {
    position: relative;
    bottom: 0px;
    display: inline-block;
    font-size: 175%;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    padding-top: 15px;
}

.NavBox img {
    width: 100%;
    display: inline-block;
}


/* Start of Image/Text Navigation 'Div Box' */

.ImageBorders {
    border-radius: 5em;
    border: 3px solid black;
    box-shadow: 10px 10px 5px #888888;
}


/* End of Image/Text Navigaton 'Div Box' */

#Quote {
    text-align: center;
    font-style: italic;
    padding: 40px;
}

#ContactForm {
    font-family: 'Domine', Arial, serif;
}

#Submit_Button {
    border: none;
    margin: 0;
    padding: 0;
    background: #0c0 url(image) 0 0 no-repeat;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding: 5px;
    text-align: center;
    line-height: 150%;
}

#resumecontent {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding: 5px;
    text-align: left;
    line-height: 150%;
    clear: left;
}

input[type=submit] {
    border: 1px solid #f44c0e;
    color: #fff;
    background: tomato;
    padding: 10px 20px;
    border-radius: 3px;
}

input[type=submit]:hover {
    background: #f44c0e;
}

.ContentBox {
    text-align: center;
    vertical-align: top;
}

.Columns {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#ContactFormBox {
    color: black;
    width: 42%;
    height: 400px;
    margin: 2em;
    text-align: center;
    padding-top: 40px;
    font-family: 'Domine', sans-serif;
    line-height: 200%;
    letter-spacing: 3px;
    font-size: 90%;
    border: 8px;
    border-style: solid;
    border-color: tomato;
    border-radius: 1em;
}

strong{ font-weight: bold;
}

#JavascriptBox {
    width: 42%;
    height: 400px;
    margin: 2em;
    font-family: 'Domine', sans-serif;
    padding: 35px 25px 50px 25px;
    letter-spacing: 2px;
    font-size: 0.8em;
    border: 8px;
    border-style: solid;
    border-color: tomato;
    border-radius: 1em;
}

input {
  width: 50%;
  height: 20%;
  font-family: 'Times New Roman', serif;
  text-align: left;
  border: 1px solid #500;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  text-align: left;

}

#TextOutput {
  font-size: 200%;
  font-style: italic;
  border: none;
  text-align: center;
  color: blue;
  
}

#blue {
  color: blue;
}
